<div class="wrapper">
    <div class="imgDiv"><img src="/images/bond.jpg" alt="Bond"></div>
    <div class="paraDiv">
        <h3>Paragraph 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit atque ipsam praesentium soluta hic unde numquam cupiditate quibusdam amet, nemo consectetur aut accusantium est quasi exercitationem quod nisi at?</p>
        <h3>Paragraph 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit atque ipsam praesentium soluta hic unde numquam cupiditate quibusdam amet, nemo consectetur aut accusantium est quasi exercitationem quod nisi at?</p>
    </div>
</div>
