<div class="wrapper">
    <h1>{{title}}</h1>
    <h2>Your new mission is...</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tempore consectetur aperiam pariatur quos fugit fuga ab ea laudantium amet. Fugiat libero numquam ipsa ipsum beatae voluptate fuga amet debitis?</p>
</div>
