<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <h1>Welcome to the About Page</h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">About</a>
        </nav>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, culpa soluta dolorum laborum minus eum debitis repudiandae dolorem atque unde recusandae qui esse ab sed, distinctio sunt odit sint blanditiis.</p>
    </div>
</body>
</html>